@import "bootstrap";

body {
background: url('/assets/papyrus.png');
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  background: url('/assets/papyrus-dark.png');
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin: 0;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
  font-size: 40px;
}

.navbar-nav .nav-link {
  color: white;
  padding-right: 0;
  padding-left: 0;
}


.navbar-light .navbar-brand {
    color: white;
}

.hero{
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  margin-bottom: 10px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  margin-bottom: 10px;
}

.btn-success{
  margin-bottom: 10px;
}

.btn {
  border-radius: 5;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
