@import "bootstrap";
@import "font-awesome";

body {
background: url('papyrus.png');
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  background: url('papyrus-dark.png');
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin: 0;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
  font-size: 40px;
}

.navbar-nav .nav-link {
  color: white;
  padding-right: 0;
  padding-left: 0;
}


.navbar-light .navbar-brand {
    color: white;
}

.hero{
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  margin-bottom: 10px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  margin-bottom: 10px;
}

.btn-success{
  margin-bottom: 10px;
}

.btn {
  border-radius: 5;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  margin-top: 20px;
  padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
  margin-top: 10px;
}

.form-actions{
  margin-top: 15px;
  }

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.img-box {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 230px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}